.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 70px 70px 80px;
  background-color: #202020;
}

.movies__more {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  width: 320px;
  padding: 10px 0;
  color: #fff;
  border: none;
  border-radius: 6px;
  background: #2f2f2f;
}

@media screen and (max-width: 1280px) {
  .movies {
    padding: 70px calc((100vw - 768px) / (1280 - 768) * (70 - 30) + 30px) 80px;
  }
}

@media screen and (max-width: 768px) {
  .movies {
    padding: 70px calc((100vw - 400px) / (768 - 400) * (30 - 10) + 10px) 80px;
  }

  .movies__more {
    margin-top: 40px;
  }
}

@media screen and (max-width: 400px) {
  .movies {
    padding: 70px 10px 80px;
  }
}