.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label {
  align-self: flex-start;
  margin: 20px 0 10px;
  color: #a0a0a0;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

.form__label:first-of-type {
  margin: 0 0 10px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background-color: #f9f9f9;
  border: solid 1px #f9f9f9;
  border-radius: 8px;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  outline: none;
}

.form__input-error {
  display: none;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

.form__button {
  max-width: 396px;
  width: 100%;
  height: 45px;
  margin: 175px 0 16px;
  border: solid 1px #4285F4;
  border-radius: 3px;
  background-color: #4285F4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  outline: none;
  cursor: pointer;
  transition: linear 0.4s;
}

.form__button:hover {
  transform: scale(1.1);
}

.form__prompt {
  margin: 0;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.form__link {
  text-decoration: none;
  color: #4285F4;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  transition: linear 0.5s;
}

.form__link:hover {
  opacity: 0.6;
}