
.techs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 100px 70px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.techs__title {
  width: 100%;
  margin: 0 0 90px;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #FFF;
}

.techs__tech-list-title {
  width: 100%;
  margin: 0 0 26px 0;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: #FFF;
}

.techs__tech-list-subtitle {
  max-width: 460px;
  margin: 0 0 100px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.04em;
  color: #FFF;
  text-align: center;
}

.techs__tech-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-gap: 10px;
  width: 100%;
  max-width: 690px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.techs__tech-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #303030;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__title {
    margin-bottom: 80px;
  }

  .techs__tech-list-title {
    margin-bottom: 22px;
  }

  .techs__tech-list-subtitle {
    margin-bottom: 83px;
    font-size: 12px;
    line-height: 1.5;
  }

  .techs__tech-list {
    grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));
    max-width: 648px;
  }

  .techs__tech-list-item {
    width: 84px;
    height: 57px;
    font-size: 12px;
  }

}

@media screen and (max-width: 320px) {
  .techs {
    padding: 70px 18px;
  }

  .techs__title {
    margin-bottom: 60px;
    padding-bottom: 28px;
    border-bottom: 1px solid #000;
    font-size: 18px;
  }

  .techs__tech-list-title {
    margin-bottom: 24px;
    font-size: 30px;
  }

  .techs__tech-list-subtitle {
    margin-bottom: 50px;
    font-size: 11px;
    line-height: 1.4;
  }

  .techs__tech-list {
    max-width: 178px;
  }
}