.filter-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 43px;
}

.filter-checkbox__label {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
}

.filter-checkbox__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter-checkbox__round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.filter-checkbox__round:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.filter-checkbox__input:checked + .filter-checkbox__round {
  background-color: #2be080;
}

.filter-checkbox__input:checked + .filter-checkbox__round:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.filter-checkbox__text {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}