.footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 80px 70px 20px;
  background-color: #202020;
  margin-top: auto;
}

.footer__description {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  box-sizing: border-box;
  margin: 0 0 17px;
  padding-bottom: 20px;
  text-align: center;
  color: #8b8b8b;
  border-bottom: 1px solid #424242;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__date {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  margin: 2px 0 0;
  color: #fff;
}

.footer__links-container {
  display: flex;
  margin: 0 4px 0 0;
  padding: 0;
  list-style-type: none;
}

.footer__links-container li {
  margin-right: 20px;
}

.footer__links-container li:last-of-type {
  margin-right: 0;
}

.footer__link {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  transition: opacity ease-in .2s;
  text-decoration: none;
  color: #fff;
}

.footer__link:hover {
  opacity: .7;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding-right: calc((100vw - 768px) / (1280 - 768) * (70 - 30) + 30px);
    padding-left: calc((100vw - 768px) / (1280 - 768) * (70 - 30) + 30px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-right: calc((100vw - 400px) / (768 - 400) * (30 - 10) + 10px);
    padding-left: calc((100vw - 400px) / (768 - 400) * (30 - 10) + 10px);
  }
}

@media screen and (max-width: 400px) {
  .footer {
    padding: 79px 10px 10px;
  }

  .footer__description {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 28px;
  }

  .footer__row {
    align-items: center;
    flex-direction: column;
  }

  .footer__date {
    font-size: 12px;
    line-height: 15px;
    order: 1;
    color: #8b8b8b;
  }

  .footer__links {
    align-items: center;
    flex-direction: column;
    margin: 0 0 28px;
  }

  .footer__links li {
    margin: 0 0 9px;
  }

  .footer__links li:last-of-type {
    margin-bottom: 0;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}