.search {
  width: 100%;
}

.search__container {
  max-width: 1140px;
  padding: 70px;
  margin: auto;
}

.search__form {
  border-bottom: solid 1px #AAAAAA;  
}

.search__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 41px;
  border: solid 1px #AAAAAA;
  width: 100%;
  background-color: inherit;
  border-radius: 8px;
  outline: none;
}

.search__input {
  flex-grow: 2;
  border: none;
  background-color: inherit;
  margin-left: 22px;
  color: white;
}

.search__input:focus {
  outline: none;
}

.search__submit {
  width: 100px;
  height: 52px;
  margin-bottom: 6px;
  margin-top: 6px;
  margin-right: 6px;
  background-color: #4285F4;
  border: solid 1px #4285F4  ;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: linear 0.4s;
}

.search__input-error {
  position: absolute;
  margin-top: -30px;
  font-size: 15px;
  color: red;
}

.search__submit:hover {
  border: solid 1px #000;
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .search__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 576px) {
  .search__container {
    padding-left: 14px;
    padding-right: 14px;
  }
}