.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 44px;
  border-bottom: 1px solid rgba(170, 170, 170, .2);
}

.search__container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.search__container_type_query {
  margin-bottom: 27px;
  border: 1.5px solid rgba(170, 170, 170, .2);
  border-radius: 8px;
}

.search__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  flex: 1 0 auto;
  box-sizing: border-box;
  width: 1px;
  margin: 0;
  padding: 25px;
  color: #8b8b8b;
  border: none;
  background: none;
}

.search__btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  min-width: 80px;
  margin: 10px;
  padding: 17px 20px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #4285f4;
}

.search__filter {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

.search__visible-filter {
  display: block;
  align-items: center;
  box-sizing: border-box;
  width: 36px;
  height: 20px;
  margin-right: 14px;
  padding: 2px;
  border-radius: 20px;
  background: #343434;
}

.search__visible-filter:after {
  position: relative;
  right: 0;
  display: block;
  width: 16px;
  height: 16px;
  content: '';
  transition: margin-left ease-in .3s;
  border-radius: 50%;
  background: #2be080;
}

.search__filter:checked + .search__visible-filter:after {
  margin-left: calc(100% - 16px);
}

.search__label {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #fff;
}

@media screen and (max-width: 1280px) {
  .search {
    padding-bottom: calc((100vw - 768px) / (1280 - 768) * (44 - 51) + 51px);
  }
}

@media screen and (max-width: 768px) {
  .search {
    padding: 0 calc((100vw - 400px) / (768 - 400) * (0 - 4) + 4px) calc((100vw - 400px) / (768 - 400) * (51 - 63) + 63px);
  }
}

@media screen and (max-width: 400px) {
  .search {
    padding: 0 4px 63px;
  }

  .search__text {
    font-size: 16px;
    line-height: 16px;
    padding: 20px 12px;
  }

  .search__btn {
    margin: 6px;
    padding: 13px 10px;
  }
}